body, html {
  height: 100%;
}

.container {
  display: flex;
}

.panel {
  flex-grow: 1;
  height: 100%;
}

.panel + .panel {
  margin-left: 2%;
}

.panel.prompts {
  width: 20%;
}

.panel.action {
  height: 100%;
}

.output-panels {
}

.panel.plugins { 
    width: 20%;
}

.chat .transcript {
  min-height: 300px;
  width: 80%;
  overflow-x: scroll;
}

.transcript .wrapper {
  width: 100%;
  display: inline-block;
}

.transcript .user {
  background-color: #feffb0b4;
  text-align: right;
  float: right;
  padding: 8px;
  max-width: 70%;
  border-radius: 8px;
  margin: 2px;
}
.transcript .assistant {
  background-color: #F3F3F3;;
  padding: 8px;
  max-width: 70%;
  border-radius: 8px;
  margin: 2px;
}
