body, html {
  height: 100%;
  font-family: Inter;
  margin: 0px;
}

#container {
  display: flex;
  height: 100%;
  max-width: 2048px;
}

.panel {
  height: 100%;
  flex-grow: 1;
  background: #F9FAFB;
  display: flex;
  flex-flow: column;
}

.section {
  padding: 24px;
}

.warning {
  font-size: 12px;
  border-radius: 12px;
  border: 2px solid #B93815;
  background: #FFF4ED;
  color: #B93815;
  padding: 8px;
}

.small-font {
  font-size: 12px;
}

.code {
  font-family: monospace;
  background: #F2F4F7;
  padding: 4px 8px;
  border-radius: 8px;
}

#left-panel {
  width: 30%;
  height: 100%;
  border-right: 1px solid #F2F4F7;
}

#left-panel .section {
  min-width: 300px;
  padding: 24px 32px;
}

#center-panel {
  width: 50%;
  min-width: 600px;
  height: 100%;
}

#right-panel {
  width: 20%;
  min-width: 300px;
  height: 100%;
}

.section.prompts {
  height: 80%;
}

.prompts .prompt {
  color: #344054;
}

.input-container {
  display: flex;
  margin: 24px 0;
}

.input-field {
  flex: 1;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background-color: #FFF;
  position: relative;
}

.input-field input {
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  border: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-field img {
  padding-right: 8px;
}

#prompt-edit {
  width: 100%;
  height: 200px;
  background: transparent;
}

.section.data-sources {
  background: #EAECF0;
  height: 20%;
}

.section.chat {
  height: 80%;
  background-color: #fcfcfc;
}

.section.artifact {
  background: #F2F4F7;
  height: 20%;
}

.section-title {
  margin-bottom: 20px;
  position: relative;
}

.section-title span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px;
}

.section.chat {
  min-height: 300px;
}

.section.chat .section-title {
  border-top: 8px solid #6941C6;
  border-bottom: 1px solid #EAECF0;
  padding: 20px 24px;
  background-color: #FFF;
  margin: -24px -24px 24px -24px;
}

.section.chat .transcript {
  overflow-y: scroll;
}

.transcript .wrapper {
  width: 100%;
  display: inline-block;
}

.transcript .chat-message {
  padding: 10px 14px;
  margin: 2px;
  max-width: 70%;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.transcript .user {
  background-color: #7F56D9;
  text-align: right;
  float: right;
  border-radius: 8px 0 8px 8px;
  color: #FFF;
}

.transcript .assistant {
  background-color: #FFF;
  border-radius: 0px 8px 8px 8px;
}

#chat-body {
  height: 80%;
  padding: 0 24px;
  margin: 0 -24px;
}

#chat-footer {
  display: flex;
  background-color: #FFF;
  padding: 20px 24px;
  margin: 0 -24px;
  bottom: 0;
}

.input-container button {
  margin-left: 8px;
}

#send-message-button {
  margin-left: 8px;
}

.primary-button {
  border-radius: 8px;
  border: 1px solid #7F56D9;
  background: #7F56D9;
  color: #FFF;
  padding: 8px;
  font-size: 16px;
  font-weight: 400;
}

#rubric-edit {
  width: 100%;
  height: 200px;
  background: transparent;
}
